<turbo-stream action="replace" target="formulario-creacion">
    <template>
        <div id="formulario-creacion">
            {{ include('book/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </template>
</turbo-stream>


