<turbo-stream action="replace" target="formulario-creacion">
    <template>
        <div id="formulario-creacion">
            {{ include('book/_form.html.twig') }}
        </div>
    </template>
</turbo-stream>
