{% extends 'base.html.twig' %}

{% block title %}Book search{% endblock %}

{% block body %}
    <div class="container mt-4"
    >
        <form
                method="get"
                action="{{ path('app_book_search') }}"
                {{ stimulus_controller('search-book') }}

        >
            <input type="text"
                   name="q"
                   placeholder="Buscar..."
                    {{ stimulus_action('search-book', 'search') }}/>
        </form>

        <turbo-frame id="tabla-libros">
            <div id="items_frame">
                {% include 'book/searchTable.html.twig' with { books: books } %}
            </div>
        </turbo-frame>


    </div>
{% endblock %}
